body {
	overflow-x: hidden
}

/* Naslov h1, ki je na začetni strani bo imel sredinsko poravnavo, pisava bo Comic Sans MS in velikosti 40px */
h1{
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 40px;
}

/* vsi podnaslovi h2 so velikosti 40px, pisave Verdane in od levega roba odmaknjeni za 100px*/
h2{
	font-size: 40px;
	font-family: verdana;
	position: relative;
	left: 100px;
}

/* vsa besedila so velikosti 25px, imajo obojestransko pravnavo, pisava je Arial, 
širina celotnega besedila je 85% glede na zaslon, in odmaknjeno za 100px od levega roba. 
prav tako je odmik med vrsticami 35px */
p{
	font-size: 25px;
	position: relative;
	text-align: justify;
	font-family: arial;
	left: 100px;
	width:85%;
	line-height: 35px;
}

/* višina menija je 70px in je širok 100% glede na zaslon */
nav {
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	overflow: hidden;
}

/* seznam ne bo označen, prostor okoli besedila bo 30px in ozadje bo črno */
ul {
	list-style-type: none;
	padding: 30px;
	margin: 0;
	background-color: black;
}

/* elementi bodo v vrstici namesto v stolpcih, velikosti 12px in Arial pisave */
li {
	display: inline;
	font-size: 13px;
	font-family: Arial;
}

/* besedilo ne bo označeno, bo svetlo sive barve*/ 
li a {
	text-decoration: none;
	color: lightgrey;
	padding: 10px 20px; /* prostor okoli besedila */
}

/* ko se z miško postaviš na element, ta spremeni barvo na temno sivo. Obarvani okvirček ima padding 10 in 20px. Pisava pa se spremeni na črno barvo*/
li a:hover {
  	background-color: darkgrey;
  	padding: 10px 20px;
  	color: black;
}

.brez:hover {
	background-color: black;
  	padding: 10px 20px;
  	color: black;
}

/* ozadje na začetni strani, je polovica v temno modri in svetlo modri barvi. Velikosti je 750px in ima širino čez celoten zaslon*/
.ozadje{
	width: 100%;
	left:0;
	height: 750px;
	/* prva polovica (od 0-50% zaslona bo temno modre barve, od 50-100% zaslona bo pa svetlo modre barve)*/
	background: linear-gradient(
	  to right,
	  #AFC6D5 0%, 
	  #AFC6D5 50%,
	  #E4ECF1 50%,
	  #E4ECF1 100%
	);
	display: flex;

}

/* besedilo je enako kot pri p, samo da je širina lahko do 50% glede na zaslon*/
.polovica_besedila {
	font-size: 25px;
	position: relative;
	text-align: justify;
	font-family: arial;
	left: 100px;
	width:50%;
	line-height: 35px;
}

/* ko se uporabnik pomakne po strani navzdol, se pojavi gumb. Ko uporabnik klikne na gumb, ga vrne nazaj na začetek strani. */

.gumb_za_gor {
  --offset: 80px; /* ko se uporabnik pomakne po strani navzdol za 80px se gumb pojavi */
  margin-top: calc(100vh + var(--offset));
  position: sticky; /* omogoča, da je gumb vedno na spodnji strani*/
  bottom: 20px;  /* od spodnjega roba bo gumb odmaknjen za 20px */    
  text-decoration: none; /* gumb ne bo podčrtan */
  padding: 10px; /* padding bo za 10px - velikost prostora okoli besedila */
  font-family: sans-serif;
  color: #fff; /* barva pisave bo črna */
  background: #515052; /* ozadje gumba bo temno sive barve */
  border-radius: 100px; /* robovi gumba bodo zaokroženi*/
  white-space: nowrap; /*da je besedilo NAZAJ GOR v eni vrstici */
}

